/*
Page name: Question 2A - CSS
Description: Provides stylistic formatting such as background color, spacing,
and font choice for index.html
*/

/*sets font style, size, background color, and default text color */
:root {
  font-family: "Verdana", sans-serif;
  font-size: 1.2em;
  background-color: plum;
  background-image: radial-gradient(white, plum);
  color:indigo;
}

/*centers the content of the webpage*/
body {
  margin-left: auto;
  margin-right: auto;
  width:50em;
}

/*displays headers in purple*/
h1 {
  color:rebeccapurple;
}
